<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baakaa Yaaroo</title>
</head>
<body>
    <h1 align="center">Your result is </h1>
    <div align="center">
<p>        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⡖⠐⣶⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⠀⡸⠁⢠⠃⠀⢀⣴⠟⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⢠⠃⠀⣏⣀⡤⠚⠁⠤⠤⠾⠤⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⣧⢸⠀⠼⠋⠁⢀⣀⣀⣀⠀⠀⠀⠀⠀⢉⡓⠶⣤⣄⣀⣀⣀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⢀⠔⠋⠁⣠⠁⠀⠛⠋⠁⠀⠀⠀⠀⠀⠤⠤⣉⡒⠖⠤⢄⣈⠛⠛⠳⠤⢤⣤⣤⠄⠀⠀</p>
<p>⠀⠀⠀⠀⡜⠁⢀⡤⠊⠀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⢷⠄⠀⠀⠉⠑⠒⠶⣈⡉⠁⠀⠀⠀</p>
<p>⣀⣀⣀⠤⠖⠊⠁⠀⠀⢸⠁⠀⢀⠀⠀⠀⠀⡄⠀⠀⢶⠀⠘⣆⠀⠳⡀⠀⡄⠀⠰⢤⣤⠬⡭⣶⡶⠶</p>
<p>⠀⠀⠀⠀⠀⣠⠏⠀⠀⠈⠀⠀⢸⡄⢠⠀⠀⣧⣷⠀⢸⡀⢠⠘⣆⠀⠱⡀⢻⠾⣆⢢⡹⣆⠀⠀⠀⠀</p>
<p>⠀⠀⢀⣤⡾⡟⠀⡄⠀⡆⠀⠀⠀⢧⠸⡄⠀⢻⢹⡇⢼⢷⠈⡆⢹⢣⡀⠱⣼⡳⡙⢆⠱⠙⡆⠀⠀⠀</p>
<p>⠰⠶⠟⠋⢰⠃⠀⡇⠀⢹⠀⢹⡘⡜⡆⢳⡀⠸⠈⣷⢸⣾⡆⠸⠸⡄⠑⡄⢻⡇⠱⡘⣷⣧⢹⡀⠀⠀</p>
<p>⠀⠀⠀⠀⡎⡸⠀⢱⠀⠈⢧⠀⢇⢷⣽⡌⢧⠀⡷⢾⡀⡇⠱⡀⠃⡷⠒⠛⣺⣷⢄⠙⣽⣏⢧⣧⠀⠀</p>
<p>⠀⠀⠀⢰⣿⡷⣧⠀⢣⡀⠈⡆⠸⢸⠙⣿⣄⣱⣷⣴⣧⣇⠀⠹⣿⣇⣴⣶⣿⣿⣈⢦⠘⣞⠘⠉⠀ </p>
<p>⠀⠀⣤⠟⣱⣷⡟⣶⡤⢷⣄⣰⣀⣿⣄⣘⣬⣿⣿⣿⣿⣿⣷⣤⣤⣿⣿⣿⣿⣿⣿⡀⠳⣌⡇⠀⠀⠀</p>
<p>⠀⠀⠀⠘⠋⣸⡷⡿⣇⡿⣶⡽⠏⠛⠉⠉⠙⢿⣿⣿⣿⣿⠏⠀⠀⠻⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⢠⡟⠁⢳⣿⡦⠋⣧⡀⠀⠀⠀⠀⠀⠉⠉⠉⠁⠀⠀⠀⠀⠀⠉⠉⠀⡿⠀⠀⠀⠀⠀⠀ </p>
<p>⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣆⠈⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡇⠀⠀⠀⠀⠀⠀ </p>
<p>⠀⠀⠀⠀⠀⠀⠀⠀⠛⢻⠀⠑⠤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⡇⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⠀⣀⣸⡆⠀⠀⠈⠓⠀⠀⠀⠀⠀⠀⠀⠺⣍⢉⡟⠀⢀⣼⠟⠀Baka!!!⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⣾⣿⣿⣇⡀⠀⠀⠀⠐⢦⣀⠀⠀⠀⠀⠀⠈⠉⢀⣴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣶⣤⣀⠀⠀⠹⢿⣶⣤⣄⣀⣀⣀⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣤⣀⠉⠻⣿⣷⡋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </p>
<p>⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣬⣿⣿⣷⣤⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </p>
<p>⠀⠀⠀⠀⣠⣿⣿⣿⣿⣿⣿⣾⣿⣻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⠀⠀⣴⡿⠛⠻⢿⣿⣿⣿⣿⣿⡿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</p>
<p>⠀⢀⠞⠛⠁⠀⠀⠈⠉⠉⠀⠉⠉⠛⣿⣿⣿⣿⣿⣿⣿⠿⣿⣿⣿⣷⣆              </p>

</div>
    <pre align="center">{{ output1 }}</pre>
    <pre align="center">{{ output2 }}</pre>
</body>
</html>
